.admin {
  display: flex;
  height: 100vh;
  padding-left: 80px;
  aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    // width: 250px;
    width: 80px;

    height: 100vh;
    background-color: #00a562;
    padding: 10px;
    z-index: 5;
    transition: transform 0.3s ease-in-out, width 0.3s;
    &:hover {
      width: 250px;
      transition: width 0.3s;
      p {
        display: block;
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      & > a {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        margin: 20px 0;
        color: #fff;
      }
      & > button {
        width: 60px;
        height: 35px;
      }
      li {
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #248b4f;
        transition: transform 0.3s;
        &.active {
          transform: scale(1.1);
          background-color: #195f36;
        }
        &:hover {
          transition: transform 0.3s;
          transform: scale(1.08);
        }
        a {
          display: flex;
          align-items: center;

          padding: 13px 12px;
          width: 100%;
          cursor: pointer;
          border-radius: 10px;
          gap: 10px;
          font-size: 19px;
          color: #fff;

          svg {
            transform: translate(6px, 2.2px);
          }
          p {
            transition: opacity 0.3s;
            opacity: 0;
            text-transform: capitalize;
          }
          &:hover p {
            display: block;
          }
        }
      }
    }
  }
  &-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
    padding: 20px;
    font-size: 19px;
    width: 100%;
  }
}

.nav_hamburger {
  position: fixed;
  display: none;
  align-items: center;
  top: 15px;
  left: 15px;
  z-index: 10;
  & > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-color: #195a1a;
    border-radius: 5px;
    padding: 3px 4px 1px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
}
